body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  font-size: 1.1rem;
}
h1 {
  background-color: khaki;
}

/* //////////////////// */
.section {
  width: 100%;
}
.nav-tab {
  display: none;
}

.content {
  position: relative;
  background-color: gray;
  border: 1px solid black;
  height: 1200px;
  padding: 20px;
}
.content a {
  color: white;
  position: absolute;
  bottom: 0;
}
/* paragraph style */
.parg-content {
  color: black;
  width: 90%;
  padding: 15px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* title style: chicken,beef,sushi */
.title {
  border: 1px solid black;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  width: 30%;
}
.chicken-title-color {
  background-color: pink;
  color: rgb(114, 114, 92);
}

.beef-title-color {
  background-color: rgb(250, 9, 49);
  color: white;
}

.sushi-title-color {
  background-color: rgb(250, 226, 9);
}
@media (max-width: 680px) {
  .nav-tab {
    display: block;
  }
  .navbar ul li a {
    margin: 5px;
    background-color: yellow;
  }
  .navbar-collapse {
    border: 1px solid gray;
    background-color: rgb(220, 213, 228);
    font-size: 1.5rem;
  }
  .content {
    background-color: gray;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    height: 1200px;
    padding: 20px;
  }
}
